.separator-line {
  width: 100%;
  color: var(--color-text-pri);
} 

.vertical-line {
  width: 2px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  /* background-color: var(--color-line); */

  transition: border-color 0.5s ease;
  z-index: 9;
}

.vertical-line.turn-left {
	border-left: 1px solid var(--color-line);
  left: 0;
}

.vertical-line.turn-right {
	border-right: 1px solid var(--color-line);
  right: 0;
}

.vertical-line.col-drag {
  cursor: col-resize;
}

/* .inspector-wrapper .vertical-line:hover {
  border-color: var(--color-action); 
} */

.icon-btn {
  width: 28px; 
  height: 28px;
  padding: 6px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  overflow: visible;

  user-select: none;
  border-radius: 5px;

  fill: var(--color-text-pri);

  transition: background-color 0.3s ease;
}

.icon-btn:hover {
  background-color: var(--color-bg-selected);
}

/* 按钮 */
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

button.cancel {
  color: var(--color-bg-pri);
  background-color: var(--color-bg-muted);
  border-radius: 6px;
  transition: opacity 0.3s ease;
}

button.confirm {
  color: var(--color-bg-pri);
  background-color: var(--color-action);
  border-radius: 6px;
  transition: opacity 0.3s ease;
}

button.cancel:hover,
button.confirm:hover {
  opacity: 0.8;
}

/* 拉宽边线 */

.is-resizing {
  user-select: none;
  cursor: col-resize;
}
