.is-smooth {
  transition-property:
    width,
    background-color,
    color,
    border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.is-resizing {
  user-select: none;
  cursor: col-resize;
}

.meta-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-sec);
  color: var(--color-bg-pri);
  font-size: 0.55rem;
  font-weight: 700;
  line-height: 0.9;
  min-height: 1rem;
  padding: 0 5px;
  margin: 0;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
}

.container-header {
  height: 48px;
	border-bottom: 1px solid var(--color-line);
  box-sizing: border-box;
}
