
.f-xs {
    font-size: var(--font-size-xs);
}

.f-s {
    font-size: var(--font-size-sm);
}

.f-m {
    font-size: var(--font-size-md);
}

.f-l {
    font-size: var(--font-size-lg);
}

.f-xl {
    font-size: var(--font-size-xl);
}

.fc-pri {
  color: var(--color-text-pri);
}

.fc-sec {
  color: var(--color-text-sec);
}

.fw-9 {
    font-weight: 900;
}
