.separator-line {
  width: 100%;
  color: var(--color-text-pri);
} 

.vertical-line {
  width: 2px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  /* background-color: var(--color-line); */

  transition: border-color 0.5s ease;
  z-index: 9;
}

.vertical-line.turn-left {
	border-left: 1px solid var(--color-line);
  left: 0;
}

.vertical-line.turn-right {
	border-right: 1px solid var(--color-line);
  right: 0;
}

.vertical-line.col-drag {
  cursor: col-resize;
}
