.separator-line {
  width: 100%;
  color: var(--color-text-pri);
} 

.vertical-line {
  width: var(--resize-line-width);
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  /* background-color: var(--color-line); */

  transition: border-color var(--motion-medium-duration) ease;
  z-index: 9;
}

.vertical-line.turn-left {
	border-left: var(--divider-line-width) solid var(--color-line);
  left: 0;
}

.vertical-line.turn-right {
	border-right: var(--divider-line-width) solid var(--color-line);
  right: 0;
}

.vertical-line.col-drag {
  cursor: col-resize;
}
