.node-wrapper {
  padding: 3px 6px;
  font-size: 13px;
  color: var(--color-text-pri);

}

.node-content {
  padding: 3px 6px;

  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;

  transition: background-color 0.3s ease;
}

.node-content.is-selected {
  background-color: var(--color-bg-selected);
}

.node-content:hover {
  background-color: var(--color-bg-selected);
}

.icon-disclosure {
  width: 12px;
  color: var(--color-text-pri);
}

.file-name {
  opacity: 0.8;
}

.dir-name {
  font-weight: 500;
}