.sidebar-wrapper {
  height: 100%;
  position: relative;
  user-select: none; 
}

.sidebar-container {
  z-index: 2;
  background-color: var(--color-bg-sec);
  border-right: 1px solid var(--color-line);
}

.file-tree-wrapper {
  overflow: hidden; 
  position: relative;
}

.anim-width {
  transition: width 0.3s ease;
}

.sub-sidebar-container {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.sub-sidebar-inner {
  height: 100%;
  min-width: 220px; 
  white-space: nowrap;
}