.sidebar-wrapper {
  height: 100%;
  position: relative;
  user-select: none; 
}

.sidebar-container {
  z-index: 2;
  background-color: var(--color-bg-sec);
  border-right: 1px solid var(--color-line);
}

.file-tree-wrapper {
  overflow: hidden; 
  position: relative;
}

.anim-width {
  transition-property:
    width,
    background-color,
    color,
    border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.sub-sidebar-container {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.sub-sidebar-inner {
  height: 100%;
  min-width: 220px; 
  white-space: nowrap;
}