@import url("@/assets/styles/views/workspace.css");
@import url("@/assets/styles/views/login.css");

@import url("@/assets/styles/comps/sidebar.css");
@import url("@/assets/styles/comps/fsNode.css");
@import url("@/assets/styles/comps/nodeEditor.css");

@import url("@/assets/styles/base/inputField.css");
@import url("@/assets/styles/base/baseModal.css");

:root {
  --color-bg-pri: #ffffff;
  --color-bg-sec: #f9f9f9;

  --color-text-pri: #161616;
  --color-text-sec: #797979;
  --color-text-field: #f0f0f0;

  /* 提示文本色 */
  --color-text-trifle: #b7b7b7;

  --color-bg-error: #f46b6b;
  --color-bg-warning: #f3a245;

  
  --color-line: #d2d2d2;
  --color-theme: #708e56;

  /* 弹窗的布景色 */
  --color-backdrop: rgba(0, 0, 0, 0.4); 

  /* 阴影色 */
  --color-bg-pri-shadow: rgba(255, 255, 255, 0.2);
  --color-bg-error-shadow: rgba(244, 107, 107, 0.2);
  --color-bg-warning-shadow: rgba(243, 162, 69, 0.2);
  --color-text-pri-shaow: rgba(22, 22, 22, 0.2);

  /* --color-bg-selected: rgba(45, 45, 45, 0.08); */
  --color-bg-selected: #e1e1e1;

  --color-action: #79b5f2;
}

	/* background-color: var(--color-bg-pri); */

body {
  /* background-color: blue !important; */
  overflow: hidden;
  user-select: none;
  transition: background-color 0.7s ease;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-selected);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-bg-selected);
}

@supports (not selector(::-webkit-scrollbar)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-bg-selected) transparent;
  }
}

.separator-line {
  width: 100%;
  color: var(--color-text-pri);
} 

.vertical-line {
  width: 2px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  /* background-color: var(--color-line); */

  transition: border-color 0.5s ease;
  z-index: 9;
}

.vertical-line.turn-left {
	border-left: 1px solid var(--color-line);
  left: 0;
}

.vertical-line.turn-right {
	border-right: 1px solid var(--color-line);
  right: 0;
}

.inspector-wrapper .vertical-line {
  cursor: col-resize;
}

.inspector-wrapper .vertical-line:hover {
  /* background-color: var(--color-action); */
  border-color: var(--color-action); 
}


button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.icon-btn {
  width: 28px; 
  height: 28px;
  padding: 6px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  overflow: visible;

  user-select: none;
  border-radius: 5px;

  fill: var(--color-text-pri);

  transition: background-color 0.3s ease;
}

.icon-btn:hover {
  background-color: var(--color-bg-selected);
}