.auth-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 0 80px 80px 80px;

  display: flex;
	
  justify-content: center;
}

.site-brand {
	height: 80px;
	width: 100%;
	color: var(--color-text-pri);
	font-weight: bold;
	font-size: 2rem;
}

.auth-container {
	width: 100%;
  background-color: var(--color-bg-sec);
  border: 1px solid var(--color-line);
  box-sizing: border-box;

  padding: 20px;
  border-top-right-radius: 120px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 5px;
  
  /* box-shadow: 0 -10px 20px rgba(123, 123, 123, 0.5);  */
}

.auth-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-text-pri);
  margin-bottom: 50px;
  letter-spacing: -1px;
}

.auth-form .links-row {
  display: flex;

  justify-content: space-between;
}

.auth-form .links-row button,
.auth-form .links-row span {
  color: var(--color-text-sec);
  text-decoration: none;
  font-weight: 600;
}

.auth-form .links-row button {
  position: relative;
}

.auth-form .links-row button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-sec);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.auth-form .links-row button:hover::after {
  transform: scaleX(1);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.auth-submit {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px 80px;
  border-radius: 10px !important;
  background-color: var(--color-text-pri) !important;
}
