.auth-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 0 72px 72px 72px;

  display: flex;
	
  justify-content: center;
}

.site-brand {
	height: 80px;
	width: 100%;
	color: var(--color-text-pri);
	font-weight: bold;
	font-size: 2rem;
}

.auth-container {
	width: 100%;
  background-color: var(--color-bg-sec);
  border: 1px solid var(--color-line);
  box-sizing: border-box;

  padding: 20px;
  border-top-right-radius: 120px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 5px;
  
  /* box-shadow: 0 -10px 20px rgba(123, 123, 123, 0.5);  */
}

.auth-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-text-pri);
  margin-bottom: 50px;
  letter-spacing: -1px;
}

.auth-form .links-row {
  display: flex;
  margin-bottom: 56px;

  justify-content: space-between;
}

.auth-form .links-row button,
.auth-form .links-row span {
  font-size: 0.85rem;
  color: var(--color-text-sec);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.auth-form .links-row button:hover {
  border-bottom-color: var(--color-text-sec);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.auth-submit-btn {
  background-color: var(--color-text-pri);
  color: var(--color-bg-pri);
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 8px 80px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.auth-submit-btn:hover {
  transform: scale(1.03);
}

.auth-submit-btn:active {
  transform: scale(0.97);
}
