

.workspace-header {
  height: 28px;
  flex-shrink: 0;
	border-bottom: 1px solid var(--color-accent-pri);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.workspace-footer {
  height: 28px;
  flex-shrink: 0;
  font-size: 0.7rem;
	border-top: 1px solid var(--color-accent-pri);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  user-select: None;
}